:root {
    --color-primary: #2465f7;
    --color-secondary: #1e66f72a;
    --color-background: #f8f8f8;
    --color-warning:#e9c601;
    --color-error:#f75e4b;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: var(--color-background);
}

.spinner {
  border: 6px solid #eee;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

#loader.hidden {
  display: none;
}