body div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px; 
}
form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    border-radius: 15px;
}

input{
    border: 1px solid silver;
    margin-bottom: 50px;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--color-primary);
}

/* input:focus{
    outline: none;
    border-color: var(--color-primary);
} */
button{
    border: none ;
    background-color: var(--color-primary);
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1 rem;
    width: 300px;
    font-weight: 600;
    transition: all 0.1s ease-in;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

button:hover{
    background-color: var( --color-secondary);
    color: var(--color-primary );
}

a{
    display: flex;
    margin-top: 50px;
    text-emphasis: none;
    text-decoration: none;
    color: #000 ;
} 

a svg{
    padding-right: 10px;
}

a:hover{
    transform : scale(1.3) ;
}

h1{
    margin-bottom: 20px;
    color: var(--color-primary); 
    font-size: 2.5rem ;
    
}